/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.content{
  margin-left: 40%;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
body, .landing-page{
  background-image: url(Al3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: right;
  width: 100%;
  height: 650px;
  margin: auto;
  position: fixed;
}

.cont{
  padding-left: 35%;
  padding-top: 20%;
  position: fixed;

}
/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
  color: #f6f4f4;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}
@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.landing-page header .links {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.landing-page header .links li {
  margin-left: 30px;
  color: #ffffff;
  cursor: pointer;
  transition: .3s;
}
@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}
.landing-page .cont li:last-child {
  border-radius: 40px;
  padding: 10px;
  width: 120px;
  color: #FFF;
  display: flex;
  background-color: #da0000;
}
.landing-page header .links li:not(:last-child):hover {
  color: #00ff04;
}

.landing-page .content .image img {
  max-width: 100%;
}
h1{
  color: #ededed;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  
}
