body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #0f0e0e;
  color: #fff;
  padding-top: 20px;
  transition: left 0.3s ease;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.toggle-btn {
  position: fixed;
  top: 2px;
  left: 10px;
  font-size: 20px;
  background-color: #323232;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.chat-container {
  max-width: 1000px;
  margin: 20px auto;
  height: 550px;
  border: 1px solid #f4f3f3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.chat-header {
  background-color: #02022a;
  color: #fff;
  padding: 5px;
}

.chat-body {
  padding: 10px;
  max-height: 300px;
  overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.received {
  background-color: #f1f0f0;
}

.message.sent {
  background-color: #b8bc85;
  text-align: right;
}

.chat-footer {
  position: fixed;
  padding: 10px;
  top: 450px;
  
}

.chat-footer input[type="text"] {
  width: 250%;
  padding: 15px;
  margin-top: 70px;
  background-color: #070723;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.chat-footer button {
  padding: 15px 20px;
  border: none;
  background-color: #0c8f00;
  color: #fff;
  position: relative;
  left: 720px;
  bottom: 45px;
  cursor: pointer;
}

.chat-footer button:hover {
  background-color: #ff0b0b;
}

@media screen and (max-width: 768px) {
  .sidebar {
    left: -250px;
  }

  .content {
    margin-left: 0;
  }
}
